body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    height: 100vh;

    background: #3c1bb5;
    background: linear-gradient(90deg,#3c1bb5 0%, #120a38 30%);
    background: -webkit-linear-gradient(90deg,#3c1bb5 0%, #120a38 30%);
    background: -moz-linear-gradient(90deg,#3c1bb5 0%, #120a38 30%);
}

.container > span {
    color: white;
    padding-left: 0.5rem;
}

h1 {
    color: white !important;
}

h2 {
    color: white !important;
}

h3 {
    color: white !important;
}

div {
    color: white !important;
}

p {
    color: black !important;
}

/* .navbar:active {
    background-color: white !important;
} */